<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="title_bar">
    <h1>About</h1>
  </div>
  <script src="scripts.js"></script>
  <div class="head_bar" >
    <button class="home"></button>
  </div>

</body>

</html>
