<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PINE - About</title>
  <link rel="stylesheet" href="css/main.css">

  <div class="title_bar">
    <img class="logo" src="img/logo_test.png">
    <p class="page_title_text">About</p>
  </div>
  <script src="js/title_redirect.js"></script>
  <div class="head_bar" >
    <a href="/"><button class="home" ></button></a>
    <a href="/about"><button class="about"></button></a>
  </div>
</head>

<body>
  <link rel="stylesheet" href="css/about.css">  

  <span class="about_main_body">
    <p> This is a sort of template for a site which would function similar to Eventbrite. Hence the name: <b><ins>P</ins></b>INE <b><ins>I</ins></b>s <b><ins>N</ins></b>ot <b><ins>E</ins></b>ventbrite.
      <br>
      <br>
      <br>
      The design of the site is intended to give an illusion to Windows 95, or other Windows 9x graphical interfaces. This was chosen out of simplicity and distinctiveness.
      <br>
      <br>
      <br>
      PINE is Free Software, and the source code can be <a href="https://github.com/yoshisaac/CongressSiteConcept"> found on github.</a></p>
  </span>
</body>

</html>
