<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PINE</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="title_bar">
    <img class="logo" src="img/logo_test.png">
  </div>
  <script src="js/title_redirect.js"></script>
  <div class="head_bar" >
    <a href="/"><button class="home" ></button></a>
    <a href="/about"><button class="about"></button></a>
  </div>

  <!-- Dynamic stuff here -->
</body>

</html>
