<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PINE</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="title_bar">
    <img class="logo" src="img/logo_test.png">
  </div>
  <script src="js/title_redirect.js"></script>
  <div class="head_bar" >
    <button class="home" onclick="redirect('/')"></button>
    <button class="about" onclick="redirect('/about')"></button>
  </div>

  <!-- Dynamic stuff here -->
</body>

</html>
